---
import Footer from "components/Footer.astro";
import GithubCorner from "components/GithubCorner.astro";
import { Image } from "@astrojs/image/components";
import Navbar from "components/Navbar.astro";
function formatDate(date) {
  return new Date(date).toUTCString().replace(/(\d\d\d\d) .*/, "$1"); // remove everything after YYYY
}
const { content } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name={content.title} content={content.description}>
  <meta name="description" content={content.description}>

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://brilyyy.github.io">
  <meta property="og:title" content={content.description}>
  <meta property="og:description" content={content.description}>
  <meta property="og:image" content={content.image}>

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://brilyyy.github.io">
  <meta property="twitter:title" content={content.description}>
  <meta property="twitter:description" content={content.description}>
  <meta property="twitter:image" content={content.image}>
  <link rel="icon" type="image/x-icon" href="https://brilyyy.github.io/favicon.ico" />
  <title>{content.title} | brilyan.dev</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown.min.css"
    integrity="sha512-KUoB3bZ1XRBYj1QcH4BHCQjurAZnCO3WdrswyLDtp7BMwCw7dPZngSLqILf68SGgvnWHTD5pPaYrXi6wiRJ65g=="
    crossorigin="anonymous" />
  <style scoped>
    .markdown-body {
      background-color: rgb(24, 24, 27);
      font-family: "Fira Mono", monospace;
    }
  </style>
</head>

<body class=" bg-zinc-900 text-neutral-200 font-mono">
  <GithubCorner />
  <Navbar />
  <div class="mx-auto max-w-screen-lg px-3 py-6">
    <div class="text-center mb-5">
      <h1 class="font-bold text-3xl mb-2">
        {content.title}
      </h1>
      <h3 class=" text-neutral-500 mb-3">
        created by {content.author} on {formatDate(content.date)}
      </h3>
      <hr />
    </div>
    <Image width={1280} height={720} class="w-full mb-10 rounded-md" src={content.image} alt="" />
    <article class="markdown-body">
      <slot></slot>
    </article>
  </div>
  <Footer />
</body>

</html>